<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list.name }}</h1>
                    <div>
                        <p>
                            <a href="{% url 'todo_list_edit' task_object.id %}">Edit</a>
                            <a href="{% url 'todo_list_delete' task_object.id %}">Delete</a>
                        </p>
                    </div>
                <h2>Tasks</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                    </tr>
                </thead>
                <tbody>
                    {% for details in task_object.items.all %}
                        <tr>
                            <td>{{ details.task }}</td>
                        </tr>
                        <tr>
                            <td>{{ details.due_date }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        </main>
    </body>
</html>
